.main {
    height: 90vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-end;
    font-family: 'Poppins', sans-serif;
    padding: 0 8% 5%;
}

.main_carousel {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 80%;
    margin: auto;
}
.main_carousel div img{
    width: 100%;
    max-height: 500px;
    margin: 0 auto;
    object-fit: contain;
}

.slick-dots {
    bottom: -40px !important;
}

.slick-dots li button:before {
    font-size: 10px !important;
    color: white !important;
}

.main h1 {
    font-weight: lighter;
    font-size: 3.5rem;
    font-family: 'Titan One', cursive;
    margin-bottom: 30px;
    color: var(--themeColor);
}

.delivery-content {
    display: flex;
    align-items: center;
    gap: 0 10px;
    position: relative;
}

.delivery-addr {
    display: flex;
    width: 50%;
    height: 55px;
    background-color: white;
    align-items: center;
    border-bottom: 1px solid gray;
}

.delivery-addr .pin {
    font-size: 1.1rem;
    padding: 0 8px;
    margin: 0 5px;
}

.delivery-addr input {
    height: 45px;
    font-size: 1.1rem;
    width: 90%;
    border: none;
    outline: none;
    color: gray;
}

.find-food-btn {
    height: 55px;
    display: flex;
    align-items: center;
    padding: 0 25px;
    background-color: var(--themeColor);
    color: black;
    font-weight: 600;
    cursor: pointer;
    font-size: 1.1rem;
    outline: 0;
    border: 0;
    transition: all 0.15s ease-in-out;
}

.find-food-btn.disabled {
    cursor: not-allowed;
    background-color: #232020;
    color: white;
}

.find-food-btn:hover {
    background-color: #232020;
    color: white;
}

.delivery-addr-dropdown {
    position: absolute;
    background-color: white;
    min-height: 0;
    height: auto;
    width: 50%;
    top: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dropdown-row {
    min-height: 0;
    height: 40px;
    border-bottom: 1px solid gray;
    text-align: left;
    padding: 5px;
    cursor: pointer;
}

.dropdown-row:hover {
    font-weight: bolder;
}