.main {
    height: 90vh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    padding: 0 8% 2%;
    gap: 30px 0;
}

.main_carousel {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 80%;
    margin: 15px auto;
}

.main_carousel div img {
    width: 100%;
    max-height: 500px;
    margin: auto;
    object-fit: fill;
}

.slick-dots {
    bottom: -40px !important;
}

.slick-dots li button:before {
    font-size: 10px !important;
    color: white !important;
}

.slick-prev:before,
.slick-next:before {
    font-size: 25px !important;
}

.slick-prev:before {
    margin-left: -5px;
}

.delivery_section {
    height: 150px;
}

.delivery_section.hide {
    display: none;
}

.delivery_section h1 {
    font-weight: lighter;
    font-size: 3.5rem;
    font-family: 'Titan One', cursive;
    margin-bottom: 30px;
    color: var(--themeColor);
}

.delivery-content {
    display: flex;
    align-items: center;
    gap: 0 10px;
    position: relative;
}

.delivery-addr {
    display: flex;
    width: 50%;
    height: 55px;
    background-color: white;
    align-items: center;
    border-bottom: 1px solid gray;
}

.delivery-addr .pin {
    font-size: 1.1rem;
    padding: 0 8px;
    margin: 0 5px;
}

.delivery-addr input {
    height: 45px;
    font-size: 1.1rem;
    width: 90%;
    border: none;
    outline: none;
    color: gray;
}

.find-food-btn {
    height: 55px;
    display: flex;
    align-items: center;
    padding: 0 25px;
    background-color: var(--themeColor);
    color: black;
    font-weight: 600;
    cursor: pointer;
    font-size: 1.1rem;
    outline: 0;
    border: 0;
    transition: all 0.15s ease-in-out;
}

.find-food-btn.disabled {
    cursor: not-allowed;
    background-color: #232020;
    color: white;
}

.find-food-btn:hover {
    background-color: #232020;
    color: white;
}

.delivery-addr-dropdown {
    position: absolute;
    background-color: white;
    min-height: 0;
    height: auto;
    width: 50%;
    top: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dropdown-row {
    min-height: 0;
    z-index: 5;
    height: 40px;
    border-bottom: 1px solid gray;
    text-align: left;
    padding: 5px;
    cursor: pointer;
}

.dropdown-row:hover {
    font-weight: bolder;
}


.delivery_section_location {
    margin: 0 auto;
    height: 150px;
    width: 80%;
}

.delivery_section_location.hide {
    display: none;
}

.delivery_section_location h3 {
    font-size: 2rem;
    color: white;
}

.delivery_section_location h3 span {
    color: var(--themeColor);
}

.delivery_section_location p {
    color: white;
    font-size: 0.7rem;
    font-weight: 600;
    letter-spacing: .5px;
    cursor: pointer;
    display: inline;
}

.delivery_section_location p:hover {
    text-decoration: underline;
}