.navbar {
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0, 0, 0, 0.8);
}

/* LOGO STYLING */

.logo a {
    font-family: 'Rock Salt', cursive;
    color: var(--themeColor);
    font-size: 2rem;
    font-weight: 800;
    cursor: pointer;
}

/* NAVBAR ITEMS STYLING */

.navbar-items {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: 800;
    margin-right: 10px;
    position: relative;
    gap: 0 40px;
}

.navbar-items li {
    padding: 0 15px;
    margin: 0 5px;
}

.navbar-items li a,
.navbar-items li span {
    color: var(--themeColor);
    padding: 10px 0;
    border-radius: 25px;
    transition: all 0.3s ease;
    position: relative;
}

.navbar-items li a::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: var(--themeColor);
    bottom: -2px;
    transition: all 0.3s ease-in-out;
}

.navbar-items li:hover a:hover::before {
    width: 100%;
}

/* NAVBAR USER SIGN IN AND SIGN UP STYLING */


.user-login {
    display: flex;
    font-weight: 700;
    font-size: 1.1rem;
    justify-content: center;
}

.user-login li {
    margin: 0 10px;
    border-radius: 5px;
    text-decoration: none;
    text-underline-offset: 5px;
    transform: scale(1);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    position: relative;
}

.user-login li a {
    color: var(--themeColor);
    transition: all 0.15s ease;
}

.user-login li a:hover {
    color: var(--secondarythemeColor);
}

.user-login li span {
    color: var(--backgroundColor);
    position: absolute;
    padding: 0 8px;
    border: 1px solid red;
    background-color: red;
    border-radius: 50%;
    top: -22px;
    left: 2px;
}

/* HAM MENU STYLING */

.menubar {
    display: none;
    position: absolute;
    right: 30px;
}

.ham {
    color: var(--themeColor);
    padding: 5px;
    cursor: pointer;
    font-size: 1.3rem;
}

.responsive-profile {
    display: none;
    position: absolute;
    right: 80px;
    color: var(--themeColor);
}

.responsive-profile i {
    padding: 5px;
    cursor: pointer;
    font-size: 1.1rem;
}

/* ANIMATION */

@keyframes LeftToRight {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

/* RESPONSIVE DESIGN */

@media (max-width: 1280px) {

    .navbar {
        padding: 0 4%;
    }

    .navbar-items {
        gap: 0 20px;
    }
}

@media (max-width: 1024px) {

    .navbar {
        padding: 0 8%;
    }

    .navbar-items.hide {
        display: none;
        animation: none;
    }

    .navbar-items {
        position: absolute;
        left: 0;
        top: 10vh;
        flex-direction: column;
        padding: 10px 0;
        width: 100%;
        text-align: center;
        background-color: var(--themeColor);
        overflow: hidden;
    }

    .navbar-items.show {
        display: flex;
        animation: LeftToRight 0.3s ease forwards;
    }

    .navbar-items li {
        width: 100%;
        margin: 0;
        padding: 20px 0;
    }

    .navbar-items li a {
        padding: 20px 40%;
        color: black;
        font-size: 1.5rem;
        font-weight: 800;
    }

    .navbar-items li a::before {
        display: none;
    }

    .menubar {
        display: block;
    }


}

@media (max-width: 768px) {

    .user-login.hide {
        display: none;
    }

    .user-login {
        position: absolute;
        left: 0;
        top: 10vh;
        flex-direction: column;
        padding: 10px 0;
        width: 100%;
        text-align: center;
        background-color: var(--themeColor);
        overflow: hidden;
    }

    .user-login.show {
        display: flex;
        animation: LeftToRight 0.3s ease forwards;
    }

    .user-login li {
        width: 100%;
        margin: 0;
        padding: 20px 0;
    }

    .user-login li a {
        padding: 20px 40%;
        color: black;
        font-size: 1.2rem;
        font-weight: 800;
    }

    .responsive-profile {
        display: block;
    }
}