.navbar {
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(0, 0, 0, 0.8);
}

/* LOGO STYLING */

.logo a {
    font-family: 'Rock Salt', cursive;
    color: var(--themeColor);
    font-size: 2rem;
    font-weight: 800;
    cursor: pointer;
    padding: 4px 10px;
}

/* NAVBAR ITEMS STYLING */

.navbar-items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: 800;
    margin-right: 10px;
    position: relative;
    gap: 0 40px;
}

.navbar-items li {
    padding: 0 15px;
    margin: 0 5px;
}

.navbar-items li a,
.navbar-items li span {
    color: var(--themeColor);
    padding: 10px 0;
    border-radius: 25px;
    text-underline-offset: 5px;
    transition: all 0.3s ease;
    position: relative;
}

.navbar-items li a::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: var(--themeColor);
    bottom: -10px;
    transition: all 0.3s ease-in-out;
}

.navbar-items li:hover a::before {
    width: 100%;
}

/* NAVBAR USER SIGN IN AND SIGN UP STYLING */


.user-login {
    width: 15%;
    display: flex;
    font-weight: 700;
    font-size: 1.1rem;
    justify-content: center;
}

.user-login li {
    margin: 0 10px;
    border-radius: 5px;
    text-decoration: none;
    text-underline-offset: 5px;
    transform: scale(1);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    position: relative;
}

.user-login li:hover {
    transform: scale(1.02);
}

.user-login li:active {
    transform: scale(0.9);
}

.user-login li a {
    color: var(--themeColor);
    padding: 5px;
    transition: all 0.1s ease;
}

.user-login li a:hover {
    color: var(--secondarythemeColor);
    text-decoration: underline;
}

.user-login li span {
    color: var(--backgroundColor);
    position: absolute;
    padding: 0 8px;
    border: 1px solid red;
    background-color: red;
    border-radius: 50%;
    top: -22px;
    left: 2px;
}

/* HAM MENU STYLING */

.menubar {
    display: none;
}

.ham {
    display: none;
    color: var(--themeColor);
    padding: 5px;
    cursor: pointer;
    font-size: 1.3rem;
}